{% extends "admin/change_form.html" %}
{% block extrastyle %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <style>
      div.form-row.field-industries.field-region_page { display: inline-grid; }
    </style>
    <script>
        $(document).ready(function(){
            const div_classes = Array.from(
              document.getElementsByClassName('field-industries')
            );
            const field_industries = div_classes[1]

            {#Checking if the region page is clicked or not during page load#}
            if ($("#id_region_page").is(':checked')){
                div_classes[1].style.display = 'block';
            }
            else {
                div_classes[1].style.display = 'none';
            }

            {#Checking if the Region page is clicked or not when clicking the checkbox#}
            $('input[type="checkbox"]').click(function(){
                if($(this).prop("checked") == true){
                  field_industries.style.display = 'block';
                }
                else if($(this).prop("checked") == false){
                     field_industries.style.display = 'none';
                }
            });
        });
    </script>
     {{ block.super }}
{% endblock %}
